.coin-setting-container {
	.coin-setting {
		display: flex;
		flex-direction: row !important;

		@media screen and (max-width: 1050px) {
			flex-direction: column !important;
			gap: 4rem;
		}
	}

	.coin-content {
		width: 50%;

		@media screen and (max-width: 1050px) {
			width: 100%;
		}

		&:not(:last-child) {
			@include border-right;

			@media screen and (max-width: 1050px) {
				border-right: none;
			}
		}

		&:last-child {
			padding-left: 3rem;

			@media screen and (max-width: 1050px) {
				padding-left: 0;
			}
		}

		.coin-setting-table {
			width: 100%;
			font-size: 1.5rem;

			thead tr th {
				text-align: left;
				padding: 1rem 0.5rem;
			}

			tbody tr td {
				padding: 0.8rem 0.5rem;
			}
		}
	}

	.commission-setting {
		width: 100%;
		height: 100%;
	}

	.commission-content {
		width: 100%;

		table {
			width: 100%;
			margin-top: 2rem;

			thead tr th {
				text-align: left;
				padding: 1rem 1rem 2rem 1rem;
			}

			tbody tr td {
				padding: 1rem;
			}
		}
	}
}