.main-section {
	display: flex;

	@media screen and (max-width: 770px) {
		position: relative;
	}
}

.dashboard {
	margin-top: 8.5rem;
	margin-left: 22.5rem;
	width: 100%;
	height: 100%;
	padding: 0 2rem;
	overflow-x: hidden;

	@media screen and (max-width: 770px) {
		margin-top: 7.5rem;
		margin-left: 0;
	}

	&-table-cards {
		@include flex-row;
		gap: 1rem;
		flex-wrap: wrap;
	}

	.table-card {
		font-size: 1.5rem;
		width: 34%;

		@media screen and (max-width: 1280px) {
			width: 100%;
			margin-bottom: 1rem;
		}

		@media screen and(max-width: 400px) {
			overflow-x: scroll;
		}
	}

	.small-card {
		width: 30%;

		@media screen and (max-width: 1280px) {
			width: 100%;
			margin-bottom: 1rem;
		}
	}

	.table {
		font-size: 1.5rem;
		width: 100%;
		text-align: center;
	}

	.card-head {
		@include grad-1;
		padding: 0.5rem 2rem;
		text-align: center;
	}

	.card-head-white p {
		display: flex;
		justify-content: space-between;
	}

	.table-head {
		@include grad-2;
		padding: 0.3rem;
		font-weight: 200;
	}

	.table-body tr {
		background-color: $color-secondary-teal;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			background-color: rgba($color-secondary-teal, 0.5);
		}
	}

	.table-body td {
		padding: 0.5rem;
	}

	.table-data {
		img {
			width: 1rem;
		}
	}
}

.red-font {
	color: $color-secondary-red;
}

.green-font {
	color: $color-secondary-green;
}

.white-box {
	background-color: $color-primary-white;
	padding: 0.2rem 0.8rem;
	font-size: 1.25rem;
}

.support-summary-container {
	margin-top: 3rem;
	padding-bottom: 3rem;
	font-size: 1.5rem;
}

.summary-box {
	width: 30%;
	background-color: $color-secondary-teal;

	@media screen and (max-width: 1050px) {
		width: 100%;

		.summary-cards {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;

			.summary-card {
				width: 45%;
				min-width: 25rem;

				@media screen and (max-width: 770px) {
					width: 100%;
				}
			}
		}
	}
}

.summary-head {
	@include grad-1;
	padding: 0.5rem 1.5rem;
	margin-bottom: 0.5rem;
}

.summary-card {
	.summary-card-head {
		@include grad-2;
		padding: 0.5rem 1.5rem;
		margin-bottom: 0.5rem;
	}

	.summary-card-data {
		padding: 0 1.5rem 1rem 1.5rem;

		.summary-data {
			display: flex;
			justify-content: space-between;
			margin-bottom: 0.5rem;
		}
	}
}