.ticket-form {
    display: flex;
    gap: 1rem;
    align-items: flex-end;

    p {
        min-width: 10rem;
    }

    .view-btn {
        outline: none;
        border: none;
        color: $color-primary-white;
        cursor: pointer;
    }
}

.support-messages-container {
    margin: 2rem 0;

    .message-by {
        border-top: 1px solid $color-primary-blue;
        border-bottom: 1px solid $color-primary-blue;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .message-field {
        .messages {
            overflow-y: auto;
            height: 50vh;
            padding: 2rem;
            @include flex-column;
            gap: 2rem;

            @media screen and (max-width: 500px) {
                padding: 2rem 0;
            }

            .msg-container {
                @include flex-row;
                align-items: flex-end;
                gap: 1rem;

                .avatar {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: $color-primary-blue;
                    @include flex-row-center;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                }

                .message-text {
                    padding: 1rem 2rem;
                    background-color: $color-primary-blue;
                    border-radius: 2rem 2rem 2rem 0rem;
                    max-width: 35%;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

                    @media screen and (max-width: 500px) {
                        max-width: 100%;
                    }
                }
            }

            .admin-response {
                flex-direction: row-reverse;

                .message-text {
                    border-radius: 2rem 2rem 0rem 2rem;
                    background-color: #107E8E;
                }

                .avatar {
                    background-color: #107E8E;
                }
            }
        }

        .message-write {
            border-top: 1px solid #e9ebefab;
            padding: .5rem 0;
            @include flex-row;
            align-items: flex-end;
            gap: 2rem;

            textarea {
                width: 90%;
                height: 100%;
                outline: none;
                border: none;
                background-color: transparent;
                padding: 1rem;
                color: $color-primary-white;
                resize: none;
            }

            .send-btn {
                outline: none;
                border: none;
                cursor: pointer;
                padding: .8rem 2rem;
                color: $color-primary-white;
                @include grad-2;
            }
        }
    }
}