.transparent-select {
    background-color: transparent;
    color: $color-primary-white;
    border: none;
    outline: none;
    cursor: pointer;

    option {
        color: $color-primary-blue;
    }
}

.custom-select {
    background: rgb(12, 53, 68);
    background: linear-gradient(180deg, rgb(12, 53, 68) 0%, rgb(48, 86, 102) 100%);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0;
    outline: none;
    border: none;

    option {
        background-color: #0a3140;
        border-radius: 0;
    }
}

.coin-select {
    width: 70%;
    padding: .5rem;
    outline: none;
    border: none;
    border-bottom: solid 2px #1F858E;
    color: #ffffff;
    font-size: 1.3rem;
    background-color: transparent;

    option {
        color: $color-primary-white;
        background-color: $color-primary-blue;
    }
}