.sidebar {
	position: fixed;
	background-color: $color-primary-blue;
	width: 22rem;
	height: 100vh;
	margin-top: 8rem;
	margin-right: 0.8rem;
	font-size: 1.35rem;
	padding: 2.5rem 1rem 10rem 1rem;
	overflow-y: auto;
	transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) all .3s;

	@media screen and (max-width: 770px) {
		position: fixed;
		margin-top: 5.5rem;
		transform: translateX(-100%);
	}

	&::-webkit-scrollbar-track {
		background-color: $color-primary-blue;
	}

	&::-webkit-scrollbar {
		width: 3px;
		background-color: #0e3544;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #1e5968;
		border-radius: 0.5rem;
	}

	&-items {
		margin: 0.7rem 0;
		padding: 0rem 1rem;
		transition: all 0.3s;

		img {
			width: 1.4rem;
			margin-right: 0.5rem;
		}

		&:hover a {
			color: $color-secondary-yellow;
		}

		&:hover .sidebar-drop-items a {
			color: inherit;
		}

		&:hover .sidebar-drop-list {
			height: auto;
			overflow: auto;
			display: inline-block;
		}

		.sidebar-drop-list {
			padding: .5rem 1rem .5rem 2.2rem;
			height: 0;
			overflow: hidden;
			display: none;

			.sidebar-drop-items {
				padding: .5rem 0;
				transition: all .3s;

				&:hover a {
					color: $color-secondary-yellow;
				}
			}
		}
	}

	.gradient-items {
		@include grad-1;
		padding: 0.5rem 1rem;
	}
}

.admin-email {
	font-size: 1.3rem;
	margin: 0rem 0 1rem 0;
}

.active {
	color: $color-secondary-yellow  !important;
}

.sidebar-slide {
	transform: translateX(0);
}