// Color Variable

//Primary Colors
$color-primary-green: #0a3140;
$color-primary-blue: #002941;
$color-primary-white: #ffffff;

// Secondary Colors
$color-secondary-teal: #18677d;
$color-secondary-blue: #063342;
$color-secondary-yellow: #fbb040;
$color-secondary-red: #ed1b23;
$color-secondary-green: #00a650;
